.message {
    position: relative;
    left: 15px;
}

.message form{
    width: 40px;
    height: 300px;
}

.message input{
    width: 300px;
    height: 30px;
    font-size: 15px;
}

#m{
    height: 125px;
}

.sbtn {
    background-color: rgb(150,225,80);
    width: 100px;
    height: 20px;
    text-align: center;
    border-radius: 15px;
    padding: 5px 0;
}

.sbtn a {
    color: white;
    text-decoration: none;
}


.modalDialog {
	position: fixed;
	font-family: Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 450px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background-color: rgb(225,225,225);
}